<div class="app p-4 conatiner-fluid">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <app-card [user]="user" *ngIf="user; else loadingBlock"></app-card>

        <ng-template #loadingBlock>
          <div class="text-center mt-5">
            <div
              class="spinner-border spinner-grow-mg text-white"
              role="status"
            >
              <div class="text-white">loading....</div>
            </div>
          </div>
        </ng-template>

        <div class="d-grid gap-2">
          <button (click)="newUser()" class="btn btn-success mt-4 btn-lg">
            New User
          </button>

          <app-card2 [user]="user"></app-card2>
        </div>
      </div>
    </div>
  </div>
</div>
