<div class="container w-50 mt-5 text-center">
  <h1 class="text-center display-3 m-3 text-white">Word Limit: {{ limit }}</h1>
  <h1 class="text-center display-3 m-3 text-white">
    Your Random Number is: {{ randomNumber }}
  </h1>

  <input
    class="slider form-control-range"
    type="range"
    name=""
    id=""
    min="10"
    max="50"
    value="{{ limit }}"
    (change)="handleSliderChange($any($event.target).value)"
  />

  <br />

  <button (click)="handleGenerator()" class="btn btn-info">Generate</button>

  <button (click)="handleRandomNumber()" class="btn btn-warning ms-5">
    Generate Random Number
  </button>

  <button
    *ngIf="randomNumber"
    (click)="handleGenerateCountry()"
    class="btn btn-info ms-5"
  >
    Generate Country Name
  </button>

  <div *ngIf="words" class="card card-body">
    <p class="display-5">
      {{ words }}
    </p>
  </div>

  <div *ngIf="countryName" class="mt-5 card card-body">
    <p class="display-5">
      {{ countryName }}
    </p>
  </div>
</div>

<!-- My Advise to the Youth is as per my experience, is to enjoy your life as much as you can, stay focused and clam. As you only live once..right so live your life as a king  -->
